@page
@model WebGhibiliMaker.Pages.CharacterListModel

@{
    ViewData["Title"] = "Character List";
}

<div class="text-center">
    <h2 class="display-5" id="mainHeader">The Ghibili Characters </h2>
</div>

<div>
    <table class="table table-striped" id="charactersTable">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Gender</th>
            <th scope="col">Details</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var hero in Model.CharacterList!)
        {
            <tr>
                <th scope="row">@hero.Name</th>
                <td>@hero.Age</td>
                <td>@hero.Gender</td>
                <td><a class="btn btn-primary" asp-page="/Hero" asp-route-id="@hero.Id">Details</a></td>
            </tr>
        }
        </tbody>
    </table>
</div>